@media (min-width: 1100px) {

    .testimonials-panel > header , .testimonials-panel .wrapperContainer , .testimonials-panel .my-nav-container {
        position: relative;
        transform: translateY(20px);
        transition: all 0.5s ease;
        opacity: 0;
    }

    .testimonials-panel.active > header , .testimonials-panel.active .wrapperContainer , .testimonials-panel.active .my-nav-container {
        transform: translateY(0);
        opacity: 1;
    }

    .testimonials-panel.active .wrapperContainer {
        transition-delay: 0.5s;
    }

    .testimonials-panel.active .my-nav-container {
        transition-delay: 1s;
    }


    .frequently-question > header {
        position: relative;
        transform: translateY(20px);
        opacity: 0;
        transition: all 0.5s ease;
    }

    .frequently-question .elements-wrap .cmElement.cmContent:first-child , .frequently-question .elements-wrap .cmElement.cmContent:last-child {
        transform: translateX(-100%);
        transition: all 0.5s ease;
        opacity: 0;
    }

    .frequently-question .elements-wrap .cmElement.cmContent:nth-child(2) {
        transform: translateX(100%);
        transition: all 0.5s ease;
        opacity: 0;
    }

    .frequently-question.active > header {
        transform: translateY(0);
        opacity: 1;
    }

    .frequently-question.active .elements-wrap .cmElement.cmContent {
        opacity: 1;
        transform: translateX(0);
    }

    .frequently-question.active .elements-wrap .cmElement.cmContent:first-child {
        transition-delay: 0.5s;
    }

    .frequently-question .elements-wrap .cmElement.cmContent:nth-child(2) {
        transition-delay: 1s;
    }

    .frequently-question .elements-wrap .cmElement.cmContent:last-child {
        transition-delay: 1.5s;
    }

    /* .text-content-container .cmContent h1 {
        transition: all 0.5s ease;
        transform: translateY(20px);
        opacity: 0;
    }

    .text-content-container .cmContent p {
        transition: all 0.5s ease;
        transform: translateY(20px);
        opacity: 0;
    }

    .text-content-container.active .cmContent h1 {
        transform: translateY(0px);
        opacity: 1;
    }

    .text-content-container.active .cmContent p {
        transform: translateY(0px);
        opacity: 1;
        transition-delay: 0.5s;
    } */

}