.frequently-question {
    background-color: #1e1e1e;
    padding: 40px 20px;
}

.frequently-question > header .cmElementTitle h2 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-family: var(--font-tertiar);
    padding-bottom: 40px;
    line-height: 1;
}

.frequently-question .cmElement.cmContent {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    background: #2a2a2a;
    border-radius: 10px;
}

.frequently-question .cmElement.cmContent > header .cmElementTitle h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #ff5252;
    font-family: var(--font-tertiar);
    font-weight: 300;
    padding-top: 20px;
}

.frequently-question .cmElement.cmContent .element-content {
    color: #ccc;
    font-family: var(--font-titlu);
    line-height: 1.1;
    margin-bottom: 20px;
}

@media (min-width: 1100px) {

    .frequently-question {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .frequently-question .cmElement.cmContent {
        max-width: 1200px;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

}